@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #04111d;
  color: #87aca3;
}

.ant-select-selection-search-input {
  flex-shrink: 1;
  flex-grow: 1;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: none;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background: none;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #00a3ff !important;
}

.ant-drawer-header-title {
  display: flex;
  flex-direction: row-reverse;
  flex: unset;
  justify-content: space-between;
  width: 100%;
}

.ant-drawer-title {
  flex: unset;
}

.ant-drawer-close {
  margin-right: 0;
}

.ant-menu.ant-menu-dark {
  background: none;
  color: #87aca3;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #04111d;
  color: #87aca3;
}

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btn-grad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         